<% content_for :title, "Nowy Rodzaj Parametrów" %>

<div class="container">

<h1 class=page-header>Nowy Rodzaj Parametrów</h1>

<%= render 'form', vechicle_param_type: @vechicle_param_type %>

</div>
<br>
