<% content_for :title, "O systemie" %>

<div class="container" align="center">

<h1 class=page-header>Paliwko – Menedżer floty</h1>

<p class=lead><i>&copy; Kamil Pek. Wersja 2.2.1 z dnia 22.07.2017.</i></p>

</div>
<br>
