<% content_for :title, "Strona Główna" %>

<div class="container" align="center">
  <h1 class=page-header>Paliwko – Menedżer floty</h1>
  <p><%= link_to 'Samochody', vechicles_path, class:"btn btn-success" %></p>
</div>
