<% content_for :title, "Statystyki" %>

<div class="container">

<h1 class=page-header>Statystyki</h1>

<div align="center">
  <p><%= link_to 'Koszty', stats_costs_path, class:"btn btn-info" %></p>
  <p><%= link_to 'Paliwo', stats_fuel_path, class:"btn btn-info" %></p>
  <p><%= link_to 'Samochody', stats_vechicles_path, class:"btn btn-info" %></p>
</div>

</div>
<br>
